html {
  background-image: url("../images/bats.gif");
}

/* Sidebar */
#nav_list ul {
  list-style: none;
  margin: 0;
  padding: 0 5%;
}

#nav_list ul li {
  margin-bottom: .5em;
  border: 2px solid black;
}

#nav_list ul li a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: orange;
  padding: .5em 0;
  color: black;
}

/* Section */
section {
  padding: 0px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

section h1 {
  font-size: 140%;
  margin-bottom: .5em;
}

section h2 {
  font-size: 115%;
  margin: .8em 0 .4em 0;
}

section p {
  margin-bottom: .5em;
}

section img {
  display: block;
  margin: 10px 0px;
}

.product-content {
  display: table;
  padding-left: 20px;
  padding-right: 15px;
  margin-top: 2em;
}

aside#left-aside {
  margin-top: 2em;
  height: 100%;
  width: 160px;
  min-width: 160px;
}

.product-detail {
  display: flex;
}

.product-content div {
  margin-left: 35px;
}

aside#right-aside {
  margin: 0;
  width: 200px;
  min-width: 200px;
  background-color: #F5DEB3;
  padding: 2em 0px;
}

aside#right-aside h5 {
  margin: 0px 10px 
}

aside#right-aside a {
  color: #000
}

aside#right-aside a:hover, a:focus {
  color: #0a920a;
}
.product-list-section {
  display: flex;
  justify-content: flex-start;
}